* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    background-color: #eae1d8;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    margin-top: 2rem;
}

.input-field input {
    padding: 0.8rem;
}

form .input-field:first-child {
    margin-bottom: 20px;
}

form input[type="submit"] {
    background: #8b5a2f;
    color: #d6bcae;
    box-shadow: 5px 5px;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
}