body
{
    background-color: #eae1d8;
    margin: 0;
  
}
h1 {
    color: #112621;
    font-size: 3vw;
    font-family: 'Meddon', cursive;
    text-align: center;
}

h2 {
    margin: 0;
    color: #d6bcae;
    font-size: 1.5vw;
    font-family: 'Meddon', cursive;
    text-align: center;
}

h3{
    color: #8b5a2f;
    font-family: 'Amita', cursive;
    font-size: 1.2vw;
}

.titlu
{
position: relative;
float: right;
padding-top: 4px;
padding-right: 10px;
text-align: center;
color:#eae1d8;
font-size: 3.5vw;
font-family: Tangerine;
}

.navigare{
    background-color: #c2c8c6;
    overflow: hidden;
    height: 3.5vw;
    font-family: 'Amita', cursive;
    color: #8b5a2f;
    z-index: 10;
}

.navigare a{
    color: #8b5a2f;
    font-size: 25px;
    text-align: center;
    padding: 25px;
    padding-top: 10px;
    float: left;
    text-decoration: none;
    height: 100%;
}

.drpdmn {
    float: left;
    overflow: hidden;
    vertical-align: top;
}

.drpdmn .btn {
    background-color: #c2c8c6;
    font-size: 25px;
    border: none;
    outline: none;
    color: inherit;
    padding: 25px;
    padding-top: 10px;
    margin: 0px;
    vertical-align: top;
    font-family: inherit;
}

.navigare a:hover, .drpdmn:hover .btn{
    background-color: #d6bcae;
    height: 100%;
}

.drp-continut{
    background-color: #c2c8c6;
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 1px 1px 0px #8b5a2f;
    color: inherit;
    margin-top: -1vw;
}

.drp-continut a {
    color: inherit;
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;

}

.drp-continut a:hover {
    background-color: #d6bcae;
}

.drpdmn:hover .drp-continut{
    display: block;
}

.caseta{
    width: 500px;
    background-color: #d6bcae;
    margin: 75px;
    box-shadow: 0 3px 30px #112621;
    color: #8b5a2f;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}

.caseta .header{
    height: 100px;
    position: relative;
}

.caseta .header .profil{
    width: 200px;
    height: 200px;
    border: 5px solid #eae1d8;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 1000px;
    box-shadow: 0 0 20px #112621;
    
}

.caseta .header .profil:hover{
    animation: change linear 2s infinite alternate;
}

.nume{
    font-size: 50px;
    color: #112621;
    margin: 15px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.continut .footer{
    width: 10;
}

.social-icon.facebook{
    color:blue;
    padding: 10px;
}

.social-icon.twitter{
    color:rgb(40, 208, 238);
    padding: 10px;
}

.social-icon.youtube{
    color:red;
    padding: 10px;
}

.persoana{
    float: right;
}

.rand{
    position: absolute;
    display: flex;
    justify-content: space-around;
}

@keyframes change{
    0% {border: 10px solid #ff0000;}
    25% {border: 10px solid #ff5100;}
    50% {border: 10px solid #ffe600;}
    75% {border: 10px solid #00ff2a;}
    100% {border: 10px solid #0011ff;}

}

@media screen and (max-width: 600px){
    .caseta{
        width: 100%;
    }

    .caseta .continut{
        padding: 10px;
    }
}



